<form>
    <div class="input-group">
        <label>Usuario</label>
        <input type="text" name="username" required>
    </div>

    <div class="input-group">
        <label>Contraseña</label>
        <input type="password" name="password" required>
    </div>

    <div class="input-group">
        <button type="submit">Iniciar sesión</button>
    </div>

    <div class="input-group">
        <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
</form>